<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"
    />
    <title>Homepage</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Hi, namaku <%= name %>, aku tinggal di <%= alamat %></h1>

    <a href="/check-health">cek kesehatan</a>
    <a href="/biodata?name=<%= name %>">cek biodata</a>
  </body>
</html>
